---
import BaseLayout from "../layouts/BaseLayout.astro";

import DegreeCard from "@/components/about/DegreeCard.astro";
import SkillCard from "@/components/about/SkillCard.astro";
import type { Degree, Experience, Skill } from "@/types";
import animation from "@/utils/animations";
import Hero from "../components/Hero.astro";

const degrees: Degree[] = [
  {
    title: "B.Sc. Computer Engineering",
    image: "/assets/computer.webp",
    when: "2018 to 2020",
    where: "Studied at HTW Berlin",
    special: "Specialization in: Advanced Programming, Embedded Systems and IT Security",
    // grade: "Graduated with a final grade of 1.5",
  },
  {
    title: "B.Sc. Business Administration",
    image: "/assets/business.webp",
    when: "2015 to 2018",
    where: "Studied at FU Berlin",
    special: "Specialization in: Finance, Accounting and Business Informatics",
    // grade: "Graduated with a final grade of 2.0",
  },
];

const experiences: Experience[] = [
  {
    role: "Emergency Medical Technician & Web Developer",
    when: "Now",
    where: "Frankfurt",
    company: "",
    description:
      "I currently work part-time as an EMT in Berlin's rescue service and work on the side as a web developer.",
  },
  {
    role: "Web Developer",
    when: "October 2023 to June 2024",
    where: "Darmstadt",
    company: "TU Darmstadt",
    description:
      "Honing my web development skills I worked for various clients with very different situations and ideas, making sure to capture their needs as best as possible in the implementation.",
  },
  {
    role: "Emergency Medical Technician",
    when: "October 2022 to September 2023",
    where: "Berlin",
    company: "DRK e.V.",
    description: "I underwent training for the EMT role and worked in the ambulance and resuce service.",
  },
  {
    role: "Tutor",
    when: "April 2022 to September 2022",
    where: "Berlin",
    company: "Intellego GmbH",
    description:
      "Quite a change in career for me I started a tutor job, went to schools and helped students with their school work.",
  },
  {
    role: "Repair Technician",
    when: "January 2021 to December 2021",
    where: "Berlin",
    company: "self-employed",
    description:
      "Making use of my electrical engineering skills, I bought and repaired broken devices (mostly consoles and smartphones). In doing so I learned lots about soldering and hardware at the chip level.",
  },
  {
    role: "System Administration & Technical Support",
    when: "April 2019 to January 2020",
    where: "Berlin",
    company: "HTW Berlin",
    description:
      "Administrated VMs for student projects, wrote technical documentation and helped set up CI/CD pipelines.",
  },
  {
    role: "Software Development",
    when: "March 2018 to October 2018",
    where: "Berlin",
    company: "prudsys AG",
    description:
      "I created an A/B testing tool in Java to figure out if the company's product, prize optimization client's online shops, was performing better than traditional pricing.",
  },
];

const skills: Skill[] = [
  {
    field: "Languages ðŸ‘¾",
    description: "Template, styling or programming language? They all go here.",
    fieldSkill: [
      {
        name: "JavaScript",
        icon: "javascript",
        link: "https://developer.mozilla.org/en-US/docs/Web/JavaScript",
        color: "#F0DB4F",
        xp: 100,
      },
      {
        name: "HTML",
        icon: "html",
        link: "https://developer.mozilla.org/en-US/docs/Web/HTML",
        color: "#E5532D",
        xp: 95,
      },
      {
        name: "CSS",
        icon: "css",
        link: "https://developer.mozilla.org/en-US/docs/Web/CSS",
        color: "#39ACDD",
        xp: 90,
      },
      {
        name: "TypeScript",
        icon: "typescript",
        link: "https://www.typescriptlang.org/",
        color: "#3178C6",
        xp: 90,
      },
    ],
  },
  {
    field: "Frameworks ðŸ—ï¸",
    description: "The frameworks and libraries I've most commonly used over the years.",
    fieldSkill: [
      {
        name: "React",
        icon: "react",
        link: "https://react.dev/",
        color: "#149ECA",
        xp: 95,
      },
      {
        name: "Astro",
        icon: "astro",
        link: "https://astro.build/",
        color: "#761DE9",
        xp: 90,
      },
      {
        name: "Three.js",
        icon: "threejs",
        link: "https://threejs.org/",
        color: "#fff",
        xp: 80,
      },
      {
        name: "Next.js",
        icon: "nextjs",
        link: "https://nextjs.org/",
        color: "#000",
        xp: 70,
      },
    ],
  },
  {
    field: "Tools  âš™ï¸",
    description: "Tools that help me create great things.",
    fieldSkill: [
      {
        name: "Figma",
        icon: "figma",
        link: "https://astro.build/",
        color: "#A259FF",
        xp: 80,
      },
      {
        name: "Terraform",
        icon: "terraform",
        link: "https://www.terraform.io/",
        color: "#7B42BC",
        xp: 40,
      },
      {
        name: "WordPress",
        icon: "wordpress",
        link: "https://wordpress.org/",
        color: "#08789D",
        xp: 75,
      },
      {
        name: "Webflow",
        icon: "webflow",
        link: "https://astro.build/",
        color: "#1B73F5",
        xp: 30,
      },
    ],
  },
  {
    field: "Complementary âœ¨",
    description: "Technology that complements my journey.",
    fieldSkill: [
      {
        name: "Tailwind",
        icon: "tailwind",
        link: "https://tailwindcss.com/",
        color: "#38BDF8",
        xp: 100,
      },
      {
        name: "Git",
        icon: "git",
        link: "https://git-scm.com/",
        color: "#F64D27",
        xp: 90,
      },
      {
        name: "Docker",
        icon: "docker",
        link: "https://www.docker.com/",
        color: "#1D63ED",
        xp: 60,
      },
    ],
  },
];

skills.forEach((skill) => {
  skill.fieldSkill.sort((a, b) => b.xp - a.xp);
});
---

<BaseLayout title="About | Y.R. Sahl" description="About Y.R. Sahl">
  <div transition:animate={animation} class="stack gap-12">
    <main class="wrapper about">
      <Hero title="About" tagline="Read below to learn more about myself and my background." />
      <section class="animate-fade">
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p class="">
            I like to create things that are both functional and easy to use. On the web that means focussing on both
            form and function, never forgetting that the user is the most important part of the equation. Every day I
            strive to become a little bit better at what I do.
          </p>
          <!-- <p class="pt-2"></p> -->
          <!-- <p>
          </p> -->
        </div>
      </section>
      <section class="animate-fade">
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p class="mb-6 sm:mb-8">I've completed two Bachelor programs. Click the cards for more information:</p>
          <div class="w-11/12 mx-auto flex gap-8 flex-col lg:flex-row">
            {degrees.map((degree) => <DegreeCard degree={degree} />)}
          </div>
        </div>
      </section>
      <section class="animate-fade">
        <h2 class="section-title">Expertise</h2>
        <div class="content">
          <p class="mb-6 sm:mb-8">These are the tools and tech I most often use ranked by proficiency:</p>
          <div class="p-4 bg-[var(--gray-900)] border border-[var(--gray-600)] rounded-3xl shadow sm:p-6 space-y-8">
            {skills.map((skill) => <SkillCard skill={skill} />)}
          </div>
        </div>
      </section>
      <!-- <section class="animate-fade">
        <h2 class="section-title">Experience</h2>
        <div class="content">
          <p class="mb-6 md:mb-8">
            Here you can read about my career journey so far:
          </p>
          <ol
            class="animate-fade animate-children relative border-s border-[1px] border-l-2 px-4 py-8 rounded-3xl border-[var(--gray-600)] bg-[var(--gray-900)] w-[95%] mx-auto"
          >
            {
              experiences.map((experience) => (
                <ExperienceEntry experience={experience} />
              ))
            }
          </ol>
        </div>
      </section> -->
      <!-- <section class="animate-fade">
        <h2 class="section-title">Thank You</h2>
        <div class="content">
          <p class="text-xl">
            Well, that's it. You've made it to the very end! Thanks for reading
            ðŸ™‚
          </p>
        </div>
      </section> -->
    </main>
  </div>

  <style>
    .about {
      display: flex;
      flex-direction: column;
      gap: 3.5rem;
    }

    img {
      margin-top: 1.5rem;
      border-radius: 1.5rem;
      box-shadow: var(--shadow-md);
    }

    section {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: var(--gray-200);
    }

    .section-title {
      grid-column-start: 1;
      font-size: var(--text-xl);
      color: var(--gray-0);
      text-transform: capitalize;
    }

    .content {
      grid-column: 2 / 4;
    }

    @media (min-width: 50em) {
      .about {
        display: grid;
        grid-template-columns: 1fr 60% 1fr;
      }

      .about > :global(:first-child) {
        grid-column-start: 2;
      }

      section:not(:nth-child(2)) .content {
        padding-bottom: 1.5rem;
      }

      section {
        display: contents;
        font-size: var(--text-lg);
      }
    }
  </style>
</BaseLayout>
